<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352128566046-e0ljt4dcc69qs0kv7kb9q32f58k1un23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352128566046-e0ljt4dcc69qs0kv7kb9q32f58k1un23</string>
	<key>API_KEY</key>
	<string>AIzaSyA1idgQZUMP8ug-sT2tEDhYSjrr2Zj2MbM</string>
	<key>GCM_SENDER_ID</key>
	<string>352128566046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zfani.assaf.news</string>
	<key>PROJECT_ID</key>
	<string>latest-news-1</string>
	<key>STORAGE_BUCKET</key>
	<string>latest-news-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352128566046:ios:dd11248b3b4fa9e666bf0f</string>
</dict>
</plist>